.navbar {
  background: var(--color-solid);
  color: var(--color-surface);
  /* top: 0;
  left: 0; */
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.navbar nav {
  display: flex;
  line-height: 55px;
}
.navbar nav li {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navbar nav li:last-child {
  list-style: none;
  padding: 5px 10px 0 5px;
  cursor: pointer;
}
.navbar nav li:hover {
  color: var(--color-primary-beta);
  border-bottom: 1px solid var(--color-primary-beta);
}
.navbar nav li:last-child:hover {
  color: var(--color-primary-beta);
  border-bottom: none;
}

/* change svg opacaty inside li tag while hover li */
.navbar nav li:hover svg {
  opacity: 1;
}
.navbar nav li img {
  padding: 5px;
}
