:root {
  --color-primary-alpha: #1c73e7;
  --color-primary-beta: #3d90ff;

  --color-secondary-alpha: #ff7a7a;
  --color-secondary-beta: #fa9d9d;

  --color-default-alpha: #161616;
  --color-default-beta: #363636;

  --color-green-alpha: #1b9c46;
  --color-green-beta: #23c258;

  --color-warning-alpha: #ff9900;
  --color-warning-beta: #ffb545;

  --color-white-alpha: #ffffff;
  --color-white-beta: #f2f2f2;

  --color-red-alpha: #cd0202;
  --color-red-beta: #ff0000;

  --color-surface: var(--color-primary-alpha);
  --color-solid: var(--color-default-alpha);
  --color-icon-background: var(--color-white-alpha);
}

html {
  background: var(--color-surface);
}

body {
  margin: 0;
}
.App {
  margin: 0;
}
